<div id="app" class="container-fluid">
  <HomeHeader></HomeHeader>
  <div class="row">
    <div class="col-sm-2" style="border-right: 4px ridge;">
      <nav class="nav flex-column nav-pills">
        <router-link class="nav-link" active-class="active" :to="{ name: 'categories' }">
          {{ $t("sidebar.categories") }}
        </router-link>
        <router-link class="nav-link" active-class="active" :to="{ name: 'product-types' }">
          {{ $t("sidebar.product_types") }}
        </router-link>
        <router-link class="nav-link" active-class="active" :to="{ name: 'products' }">
          {{ $t("sidebar.products") }}
        </router-link>
        <router-link class="nav-link" active-class="active" :to="{ name: 'orders' }">
          {{ $t("sidebar.orders") }}
        </router-link>
        <router-link class="nav-link" active-class="active" :to="{ name: 'customers' }">
          {{ $t("sidebar.customers") }}
        </router-link>
      </nav>
    </div>
    <div class="col-sm-10">
      <router-view></router-view>
    </div>
  </div>
</div>