<div id="app" class="container-fluid">
  <HomeHeader></HomeHeader>
  <div class="row">
    <div class="col-sm-3">
      <nav class="nav flex-column nav-pills">
        <a class="nav-link active" href="#">Categories</a>
        <a class="nav-link" href="#">Product Types</a>
        <a class="nav-link" href="#">Products</a>
        <a class="nav-link" href="#">Orders</a>
        <a class="nav-link" href="#">Customers</a>
      </nav>
    </div>
    <div class="col-sm-9">
      <h1>Welcome to Categories</h1>
    </div>
  </div>
</div>