<div id="app" class="container-fluid">
  <HomeHeader></HomeHeader>
  <div class="row">
    <div class="col-sm-2">
      <nav class="nav flex-column nav-pills">
        <router-link class="nav-link" active-class="active" :to="{ name: 'categories' }">
          Categories
        </router-link>
        <router-link class="nav-link" active-class="active" :to="{ name: 'product-types' }">
          Product Types
        </router-link>
        <router-link class="nav-link" active-class="active" :to="{ name: 'products' }">
          Products
        </router-link>
        <router-link class="nav-link" active-class="active" :to="{ name: 'orders' }">
          Orders
        </router-link>
        <router-link class="nav-link" active-class="active" :to="{ name: 'customers' }">
          Customers
        </router-link>
      </nav>
    </div>
    <div class="col-sm-10">
      <router-view></router-view>
    </div>
  </div>
</div>