<div>
  <h5>{{ $t("category.manage_categories") }}</h5>
  <ErrorMessage v-show="errorMessage" :errorMessage="errorMessage" @CloseErrorEvent="closeErrorMessage"></ErrorMessage>
  <hr>
  
  <!-- work in progress -->
  <template v-if="isLoading">
    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
    <span class="h3">{{ $t("common.loading_data") }}</span>
  </template>
  
  <!-- for nomral result -->
  <template v-else-if="categoryMap">
    <div v-show="!showCategory">
      <button type="button" class="btn btn-outline-primary btn-sm">Add Category</button>
      <TreeNode v-for="(child, index) in childNodes" 
        :parent="virtualRoot"
        :cNode="child" 
        :index="index"
        :key="child.id">
      </TreeNode>
    </div>
  </template>

  <div v-if="showCategory">
    <ShowCategory :category="categoryMap[showCategory]"></ShowCategory>
  </div>

</div>