<div id="categoryTree">
  <button type="button" class="btn btn-primary">Add Category</button>
  <li style="list-style-type: none;" v-for="cat in tree">
    <select class="" v-model="cat.position">
      <template v-for="pos in positions">
        <option> {{ pos }} </option>
      </template>
    </select>

    <template v-if="cat.isParent()">
      <template v-if="cat.isOpen()">
        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
      </template>
      <template v-else>
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </template>
    </template>
    <!-- not a parent -->
    <template v-else>
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
    </template>

    {{ $t(cat.getName()) }}

  </li>

</div>