<li style="list-style-type: none;">
  <select v-show="options.length > 1" 
      v-model="position" 
      :disabled="isSelectDisabled"
      @change="changePositionHandler">
    <option v-for="pos in options"> {{ pos }} </option>
  </select>

  <template v-if="cNode.isParent()">
    <span @click="toggleOpen">
      <i class="fa" 
        :class="{ 'fa-minus-square-o': isOpen, 'fa-plus-square-o': !isOpen }" 
        aria-hidden="true">
      </i>
    </span>
  </template>
  <!-- not a parent -->
  <template v-else>
    <i class="fa fa-tag" aria-hidden="true"></i>
  </template>
  
  {{ $t(cNode.getName()) }}
  
  <ul v-show="isOpen" v-if="cNode.isParent()">
    <TreeNode v-for="child in cNode.children" 
      :cNode="child"
      :index="child.index"
      :key="child.getId()">
    </TreeNode>
  </ul>
</li>
